// Checkout view styling
@import 'colors.scss';
@import 'mixins.scss';

.checkout {
  @include flexbox();
  @include flex-flow(row wrap);
  justify-content: center;
  min-height: 300px;
  background-color: $shop13-lightgray;
}

.full-size {
  width: 100%;
}

.half-size {
  min-width: 50%;
}

.checkout-cart {
  //@include flex-grow(0);
  padding: 30px 20px;
  position: relative;
  .checkout-button {
    margin: auto;
    cursor: pointer;
    display: block;
    border: none;
    height: 30px;
    width: 80%;
    background-color: $shop13-lightgreen;
    font-size: $font-size-normal;
    color: white;
    &:hover {
      background-color: $shop13-brown;
    }
  }
  .checkout-summary {
    @include flexbox();
    //@include flex-flow(row nowrap);
    margin: 10px auto;
    width: 300px;
    .checkout-summary-item {
      @include flex-grow(10);
      &:last-of-type {
        text-align: right;
        @include flex-grow(0);
      }
    }
    &:first-of-type {
      font-weight: bold;
    }
    &:last-of-type {
      font-weight: bold;
    }
    label {
      display: inline-block;
      min-width: 140px;
    }
    input, select {
      height: 30px;
      font-size: 1rem;
      margin-left: 10px;
      padding-left: 4px;
      &:focus {
        border: solid $shop13-brown;
        outline: none;
      }
    }
  }
}

// Mobile / Tablet
@media screen and (max-width: 768px) {
  .checkout {
    @include flex-flow(column nowrap);
  }
}

// Classic
@media screen and (min-width: 768px) {

}