//colors
$font-color: white;
$background-color-transparent-50: rgba(50, 50, 50, 0.5);
$background-color-transparent-80: rgba(50, 50, 50, 0.8);
$fallback_color: gray;
$shop13-product-background: white;
$red: red;
$green: green;
$navigation-background: #efefef;
$navigation-hover: #4b545f;
$navigation-font: #757575;
$navigation-dropdown: #5f6975;

$shop13-gray: #403b3f;
//$shop13-green: #1fda9a;



$shop13-lightgray: #f0eceb;
$shop13-lightgreen: #729f98;
$shop13-green: #283018;
$shop13-brown: #aa863a;
