/* Compiled: Rene.Jasmin | 2015-11-29 13:58:50 */

@font-face {
  font-family: Oxygen;
  src: url(/fonts/oxygen.woff2) format("woff2");
}

body {
  margin: 0;
  font: 100% "Oxygen", Helvetica, sans-serif;
}

header {
  height: 100%;
  margin: 0 20px;
}

#top {
  height: 20px;
  color: white;
}

#title {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  height: 50px;
  background-color: rgba(50, 50, 50, 0.5);
  color: white;
}

#nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  min-height: 50px;
  background-color: rgba(50, 50, 50, 0.8);
  color: white;
}

#content {
  min-height: 300px;
  margin: 20px;
  background-color: rgba(50, 50, 50, 0.5);
}

.bkgrnd {
  background: gray url(/images/champ.jpg) no-repeat center top fixed;
  background-size: cover;
  top: 0;
  left: 0;
}

.red {
  color: red;
}

.green {
  color: green;
}

.nav-item {
  padding: 10px;
  cursor: pointer;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -moz-flex-grow: 0;
  flex-grow: 0;
}

.nav-item:last-child {
  margin-left: auto;
}

.nav-item:hover {
  min-height: 50px;
}

.title-item {
  padding: 10px;
  cursor: pointer;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -moz-flex-grow: 0;
  flex-grow: 0;
}

.title-item:last-child {
  margin-left: auto;
}

.product-item {
  background-color: white;
  min-height: 300px;
  max-width: 300px;
  margin: 20px;
}

.slide-item {
  height: 200px;
}

.custom-indicator {
  text-align: center;
  cursor: pointer;
  padding-top: 5px;
  color: #666666;
  font-size: 36px;
}

div.custom-indicator span {
  transition: all 0.2s ease-in;
}

div.custom-indicator span.active {
  color: white !important;
}

@media screen and (min-width: 480px) and (max-width: 960px) {
  #nav {
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
}

@media screen and (min-width: 961px) {
  #nav {
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    max-width: 960px;
  }
}
