@import 'colors.scss';
@import 'mixins.scss';
@import 'navigation.scss';
@import 'product.scss';
@import 'checkout.scss';
@import 'slide.scss';

body {
  margin: 0;
  font: 100% $font-stack;
  overflow-x: hidden;
}

header {
  height: 100%;
  width: 100%;
}

#top {
  height: 20px;
  color: $font-color;
}

#title {
  @include flex-flow(row nowrap);
  height: 80px;
  background-color: white;
  color: black;
  font-size: $font-size-normal;
  @include flexbox();
  input {
    height: 30px;
    font-size: 1rem;
    margin-left: 10px;
    padding-left: 4px;
    &:focus {
      border: solid $shop13-brown;
      outline: none;
    }
  }
  .logo {
    padding-left: 40px;
    font-size: 1.7rem;
  }
}

.content {
  @include flexbox();
  @include flex-flow(row wrap);
  justify-content: center;
  min-height: 300px;
  background-color: $shop13-lightgray;
  padding-right: 1rem;
}

.bkgrnd {
  background: $shop13-lightgray;
  top: 0;
  left: 0;
}

.cart-menu {
  padding: 10px;
  cursor: pointer;
  font-size: $font-size-normal;
  background-color: $background-color-transparent-80;
  color: $font-color;
  text-align: right;
}

.title-item {
  padding: 0 20px;
  cursor: pointer;
  height: 80px;
  @include flex-grow(0);
  @include flexbox();
  justify-content: center;
  align-items: center;
  &:last-child {
    margin-left: auto;
    background-color: $shop13-brown;
    &:hover {
      background-color: $shop13-green;
      color: white;
    }
  }
}

.title-search {
  @include flex-grow(10);
  text-align: center;
  @include flexbox();
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

.footer-container {
  width: 100%;
  min-height: 50px;
  background-color: $shop13-brown;
  @include flexbox();
  @include flex-flow(row nowrap);
  justify-content: center;
  .footer-item {
    @include flex-grow(0);
    width: 250px;
    padding: 20px;
    cursor: pointer;
    .footer-title {
      font-weight: bold;
    }
    label {
      padding-left: 4px;
      height: 50px;
      &:hover {
        background-color: $shop13-lightgreen;
      }
    }
    input {
      height: 30px;
      font-size: 1rem;
      margin-left: 10px;
      padding-left: 4px;
      &:focus {
        border: solid $shop13-lightgreen;
        outline: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #title {
    @include flex-flow(column nowrap);
    height: 200px;
  }
  .title-item {
    height: 50px;
  }
  .footer-container {
    @include flex-flow(column nowrap);
  }
}
