/* Compiled: Rene.Jasmin | 2015-12-18 22:56:47 */

@font-face {
  font-family: Oxygen;
  src: url(/fonts/oxygen.woff2) format("woff2"), url(/fonts/Oxygen-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Oxygen;
  src: url(/fonts/oxygen.woff2) format("woff2"), url(/fonts/Oxygen-Regular.ttf) format("truetype");
}

#navigation-classic {
  position: relative;
  z-index: 999;
  width: 100%;
}

#navigation-classic nav {
  text-align: left;
  margin-right: 40px;
  font-size: 100%;
  height: 50px;
}

#navigation-classic nav ul {
  background: #f0eceb;
  padding: 0 20px;
  list-style: none;
  position: relative;
  display: inline-block;
  margin: 0;
}

#navigation-classic nav ul ul {
  display: none;
  background: #729f98;
  padding: 0;
  position: absolute;
  top: 100%;
}

#navigation-classic nav ul ul li {
  float: none;
  position: relative;
}

#navigation-classic nav ul ul li a {
  padding: 5px 20px;
  color: white;
}

#navigation-classic nav ul ul li a:hover {
  background: #aa863a;
}

#navigation-classic nav ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}

#navigation-classic nav ul li {
  float: left;
}

#navigation-classic nav ul li:hover {
  background: #aa863a;
}

#navigation-classic nav ul li:hover > ul {
  display: block;
}

#navigation-classic nav ul li:hover a {
  color: white;
}

#navigation-classic nav ul li a {
  display: block;
  padding: 10px 10px;
  color: #757575;
  text-decoration: none;
}

#navigation-classic nav ul:after {
  content: "";
  clear: both;
  display: block;
}

#navigation-side {
  background-color: #f0eceb;
  position: absolute;
  top: 0;
  left: -50%;
  width: 50%;
  text-align: left;
  margin-right: 40px;
  font-size: 100%;
  z-index: 100;
  height: 100%;
  -webkit-transition: -webkit-transform 0.6s ease;
  -moz-transition: -moz-transform 0.6s ease;
  -ms-transition: -ms-transform 0.6s ease;
  -o-transition: -o-transform 0.6s ease;
  transition: transform 0.6s ease;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  overflow-y: scroll;
}

#navigation-side nav ul {
  padding: 0 20px;
  list-style: none;
  margin: 0;
}

#navigation-side nav ul li a {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  border-bottom: solid 1px black;
}

#navigation-side nav ul li a:active {
  background-color: #aa863a;
}

#navigation-side nav ul ul {
  text-align: right;
}

#navigation-side nav ul ul li a {
  border-bottom: solid 1px black;
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
}

#navigation-side nav ul ul li a:active {
  background-color: #aa863a;
}

.side-menu {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 50%;
  height: 50px;
  background: transparent url(/images/menu.jpg) no-repeat;
  -webkit-transition: -webkit-transform 0.6s ease;
  -moz-transition: -moz-transform 0.6s ease;
  -ms-transition: -ms-transform 0.6s ease;
  -o-transition: -o-transform 0.6s ease;
  transition: transform 0.6s ease;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

@media screen and (max-width: 768px) {
  #navigation-classic {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  #navigation-side {
    display: none;
  }
  .side-menu {
    display: none;
  }
}

@font-face {
  font-family: Oxygen;
  src: url(/fonts/oxygen.woff2) format("woff2"), url(/fonts/Oxygen-Regular.ttf) format("truetype");
}

.product-order {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  margin-left: 60px;
  min-width: 100%;
}

.product-order form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.product-item {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -moz-flex-grow: 0;
  flex-grow: 0;
  position: relative;
  background-color: white;
  min-height: 300px;
  width: 300px;
  margin: 20px;
  cursor: pointer;
  overflow: hidden;
}

.product-item img {
  margin: 50px 10px 10px 10px;
  horiz-align: center;
}

.product-item .product-title {
  font-size: 1.1rem;
  position: absolute;
  bottom: 00px;
  width: 280px;
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.product-item .product-title .product-title-item {
  -webkit-box-flex: 10;
  -webkit-flex-grow: 10;
  -moz-flex-grow: 10;
  flex-grow: 10;
}

.product-item .product-title .product-title-item:last-of-type {
  text-align: right;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -moz-flex-grow: 0;
  flex-grow: 0;
}

.product-item .product-item-description {
  height: 0;
  overflow: hidden;
  position: absolute;
  bottom: 50px;
  width: 280px;
  color: white;
  padding: 10px 10px 0 10px;
  background-color: #729f98;
  -webkit-transition: height 0.4s ease-out;
  -moz-transition: height 0.4s ease-out;
  -ms-transition: height 0.4s ease-out;
  -o-transition: height 0.4s ease-out;
  transition: height 0.4s ease-out;
}

.product-item .product-item-description .description {
  position: relative;
  top: 0;
  height: 150px;
  width: 280px;
}

.product-item .product-item-description .button-container {
  overflow: hidden;
  position: relative;
  top: 0;
  height: 50px;
  width: 280px;
  background-color: #729f98;
  display: table-cell;
  vertical-align: middle;
}

.product-item .product-item-description .button-container .quantity {
  text-align: center;
}

.product-item .product-item-description .button-container button {
  cursor: pointer;
  display: block;
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.product-item .product-item-description .button-container button.add-button {
  position: absolute;
  background-color: green;
  font-size: 1.1rem;
  bottom: 10px;
  left: 0;
}

.product-item .product-item-description .button-container button.add-button:hover {
  color: white;
  background-color: #403b3f;
}

.product-item .product-item-description .button-container button.remove-button {
  position: absolute;
  background-color: red;
  bottom: 10px;
  right: 0;
}

.product-item .product-item-description .button-container button.remove-button:hover {
  color: white;
  background-color: #403b3f;
}

.product-item:hover .product-item-description {
  height: 200px;
  -webkit-transition: height 0.2s 0.3s ease-in;
  -moz-transition: height 0.2s 0.3s ease-in;
  -ms-transition: height 0.2s 0.3s ease-in;
  -o-transition: height 0.2s 0.3s ease-in;
  transition: height 0.2s 0.3s ease-in;
}

.product-detail {
  margin: 40px;
}

.product-detail .title {
  font-size: 1.1rem;
  font-weight: bold;
  padding-bottom: 20px;
}

.product-detail textarea {
  resize: none;
}

.product-detail button.add-button {
  cursor: pointer;
  display: block;
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: green;
  font-size: 1.1rem;
  bottom: 10px;
  left: 0;
}

.product-detail button.add-button:hover {
  color: white;
  background-color: #403b3f;
}

.product-detail button.remove-button {
  cursor: pointer;
  display: block;
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: red;
  bottom: 10px;
  right: 0;
}

.product-detail button.remove-button:hover {
  color: white;
  background-color: #403b3f;
}

.product-detail .star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.product-detail .star-rating .star {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}

.product-detail .star-rating .star.filled {
  color: #aa863a;
}

.product-detail .star-rating.readonly .star.filled {
  color: #729f98;
}

@media screen and (max-width: 768px) {
  .product-order form {
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .product-order form {
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
}

@font-face {
  font-family: Oxygen;
  src: url(/fonts/oxygen.woff2) format("woff2"), url(/fonts/Oxygen-Regular.ttf) format("truetype");
}

.checkout {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 300px;
  background-color: #f0eceb;
}

.full-size {
  width: 100%;
}

.half-size {
  min-width: 50%;
}

.checkout-cart {
  padding: 30px 20px;
  position: relative;
}

.checkout-cart .checkout-button {
  margin: auto;
  cursor: pointer;
  display: block;
  border: none;
  height: 30px;
  width: 80%;
  background-color: #729f98;
  font-size: 1.1rem;
  color: white;
}

.checkout-cart .checkout-button:hover {
  background-color: #aa863a;
}

.checkout-cart .checkout-summary {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 10px auto;
  width: 300px;
}

.checkout-cart .checkout-summary .checkout-summary-item {
  -webkit-box-flex: 10;
  -webkit-flex-grow: 10;
  -moz-flex-grow: 10;
  flex-grow: 10;
}

.checkout-cart .checkout-summary .checkout-summary-item:last-of-type {
  text-align: right;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -moz-flex-grow: 0;
  flex-grow: 0;
}

.checkout-cart .checkout-summary:first-of-type {
  font-weight: bold;
}

.checkout-cart .checkout-summary:last-of-type {
  font-weight: bold;
}

.checkout-cart .checkout-summary label {
  display: inline-block;
  min-width: 140px;
}

.checkout-cart .checkout-summary input, .checkout-cart .checkout-summary select {
  height: 30px;
  font-size: 1rem;
  margin-left: 10px;
  padding-left: 4px;
}

.checkout-cart .checkout-summary input:focus, .checkout-cart .checkout-summary select:focus {
  border: solid #aa863a;
  outline: none;
}

@media screen and (max-width: 768px) {
  .checkout {
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
  }
}

@font-face {
  font-family: Oxygen;
  src: url(/fonts/oxygen.woff2) format("woff2"), url(/fonts/Oxygen-Regular.ttf) format("truetype");
}

.slide-item {
  -webkit-box-flex: 10;
  -webkit-flex-grow: 10;
  -moz-flex-grow: 10;
  flex-grow: 10;
  display: inherit;
  height: 400px;
  width: 100%;
}

.custom-indicator {
  position: relative;
  top: -80px;
  text-align: center;
  cursor: pointer;
  padding-top: 5px;
  color: #aa863a;
  font-size: 36px;
}

div.custom-indicator span {
  transition: all 0.2s ease-in;
}

div.custom-indicator span.active {
  color: #729f98 !important;
}

.slide-container {
  height: 500px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.slide-container img {
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .slide-item {
    height: 700px;
  }
  .slide-container {
    height: 800px;
  }
}

body {
  margin: 0;
  font: 100% "Oxygen", Helvetica, sans-serif;
  overflow-x: hidden;
}

header {
  height: 100%;
  width: 100%;
}

#top {
  height: 20px;
  color: white;
}

#title {
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  height: 80px;
  background-color: white;
  color: black;
  font-size: 1.1rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

#title input {
  height: 30px;
  font-size: 1rem;
  margin-left: 10px;
  padding-left: 4px;
}

#title input:focus {
  border: solid #aa863a;
  outline: none;
}

#title .logo {
  padding-left: 40px;
  font-size: 1.7rem;
}

.content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 300px;
  background-color: #f0eceb;
  padding-right: 1rem;
}

.bkgrnd {
  background: #f0eceb;
  top: 0;
  left: 0;
}

.cart-menu {
  padding: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  background-color: rgba(50, 50, 50, 0.8);
  color: white;
  text-align: right;
}

.title-item {
  padding: 0 20px;
  cursor: pointer;
  height: 80px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -moz-flex-grow: 0;
  flex-grow: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-item:last-child {
  margin-left: auto;
  background-color: #aa863a;
}

.title-item:last-child:hover {
  background-color: #283018;
  color: white;
}

.title-search {
  -webkit-box-flex: 10;
  -webkit-flex-grow: 10;
  -moz-flex-grow: 10;
  flex-grow: 10;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

.footer-container {
  width: 100%;
  min-height: 50px;
  background-color: #aa863a;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  justify-content: center;
}

.footer-container .footer-item {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -moz-flex-grow: 0;
  flex-grow: 0;
  width: 250px;
  padding: 20px;
  cursor: pointer;
}

.footer-container .footer-item .footer-title {
  font-weight: bold;
}

.footer-container .footer-item label {
  padding-left: 4px;
  height: 50px;
}

.footer-container .footer-item label:hover {
  background-color: #729f98;
}

.footer-container .footer-item input {
  height: 30px;
  font-size: 1rem;
  margin-left: 10px;
  padding-left: 4px;
}

.footer-container .footer-item input:focus {
  border: solid #729f98;
  outline: none;
}

@media screen and (max-width: 768px) {
  #title {
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    height: 200px;
  }
  .title-item {
    height: 50px;
  }
  .footer-container {
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
  }
}
