<!DOCTYPE html>
<html ng-app="shop13">
<head lang="en">
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="user-scalable=0"/>-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="styles/style.css" type="text/css">
    <link href="angular-carousel.css" rel="stylesheet" type="text/css"/>
</head>
<body class="bkgrnd">
<div ng-controller="Shop13Controller as shop13">

    <header>
        <!--<div id="top"></div>-->
        <div id="title">
            <div class="title-item logo"
                 ng-bind="'SHOP 13'"
                 ui-sref="home"></div>
            <div class="title-item"
                 ng-bind="' source of pure tone'"
                 ui-sref="home"></div>
            <label class="title-search">Search in products
                <input ng-model="shop13.search"
                       placeholder="search it ..."
                       type="text"/>
            </label>

            <div class="title-item">Login</div>
        </div>
        <classic-menu menu-tree="shop13.products"
                      cart-info="shop13.cart.quantity"></classic-menu>
        <side-menu menu-tree="shop13.products"
                   cart-info="shop13.cart.quantity"></side-menu>

    </header>

    <div ui-view
         id="content"></div>

</div>

<script type="text/javascript" src="angular.js"></script>
<script type="text/javascript" src="angular-ui-router.js"></script>
<script type="text/javascript" src="angular-resource.js"></script>
<script type="text/javascript" src="angular-touch.js"></script>
<script type="text/javascript" src="angular-carousel.js"></script>
<script type="text/javascript" src="shop13.js"></script>
<script type="text/javascript" src="controller/shop13Controller.js"></script>
<script type="text/javascript" src="controller/cartController.js"></script>
<script type="text/javascript" src="controller/productsController.js"></script>
<script type="text/javascript" src="controller/homeController.js"></script>
<script type="text/javascript" src="controller/searchController.js"></script>
<script type="text/javascript" src="controller/checkoutController.js"></script>
<script type="text/javascript" src="service/productService.js"></script>
<script type="text/javascript" src="service/cartService.js"></script>
<script type="text/javascript" src="service/restService.js"></script>
<script type="text/javascript" src="service/searchService.js"></script>
<script type="text/javascript" src="service/clientVendorService.js"></script>
<script type="text/javascript" src="directive/productDirective.js"></script>
<script type="text/javascript" src="directive/addButtonDirective.js"></script>
<script type="text/javascript" src="directive/removeButtonDirective.js"></script>
<script type="text/javascript" src="directive/checkoutButtonDirective.js"></script>
<script type="text/javascript" src="directive/sideMenuDirective.js"></script>
<script type="text/javascript" src="directive/classicMenuDirective.js"></script>
<script type="text/javascript" src="javascripts/helpers.js"></script>
<script type="text/javascript" src="javascripts/filters.js"></script>
</body>
</html>