<div class="content">
    <ul><h3>This is the final thesis of CAS FEE 2015 of Group 13 -> SHOP 13 \m/<br>
        This is an e-shop application for guitar and related stuff:</h3>
        <li>The menu is generated according to database entries -> a request to 'api/categories'
            will return the menu tree with categories and their corresponding subcategories (menu is two steps
            deep). So if the shopkeeper / database maintenance clean up the database, unused (sub)categories won't
            be displayed anymore automatically
        </li>
        <li>JQUERY denied :) This application does not use Jquery (only jqlite from angularjs) just load libraries
            you really need!
        </li>
        <li>Cool / easy checkout with no unnecessary stuff</li>
        <li>Shopping-cart with all info's including shipping</li>
        <li>Responsive design for desktop / mobile</li>
        <li>Quick search function</li>
    </ul>
</div>