<div id="navigation-classic">
    <nav>
        <ul>
            <li><a ui-sref="products">products</a></li>
            <li ng-repeat="entry in menuTree.tree">
                <a ui-sref="{{entry.category}}"
                   ng-bind="entry.category"></a>
                <ul>
                    <li ng-repeat="sub in entry.subcategories">
                        <a ui-sref="{{sub}}"
                           ng-bind="sub"></a>
                    </li>
                </ul>
            </li>
            <li><a ui-sref="products">brands</a>
                <ul>
                    <li ng-repeat="brand in menuTree.brands | orderBy: 'name' as filtered track by brand.name">
                        <a ui-sref="{{brand.name}}"
                           ng-bind="brand.name + ' [ ' + brand.quantity + ' ]'"></a>
                    </li>
                </ul>
            </li>
            <li><a ui-sref="cart"
                   ng-bind="'Cart [ ' + cartInfo.inCart + ' ] [ ' + (cartInfo.totalPrice | number:2) + ' CHF ]'"></a>
            </li>
        </ul>
    </nav>
</div>