<div class="product-item">
    <div class="product-title"
         ng-bind="::ctrlModel.brand + ' - ' + ctrlModel.name"></div>
    <div ng-bind="::ctrlModel.short"></div>
    <!--<div ng-bind="::ctrlModel.description"></div>-->
    <!--<img ng-src="{{::ctrlModel.picUrl}}" height="100%" width="100%" alt="{{ctrlModel.name}}"/>-->
    <div ng-bind="quantity + ' in your cart'"></div>
    <add-button product-id="ctrlModel.id"></add-button>
    <remove-button ng-show="quantity"
                   product-id="ctrlModel.id"></remove-button>
</div>